@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.form-container {
  animation-name: form-appear;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

.placeholder-padding::placeholder {
  padding: 10px; /* Adjust the padding value as needed */
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #dfe6e9;
  border: 1px solid #616161;
  border-radius: 8px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b2bec3;
  border: 1px solid #616161;
  border-radius: 8px;
}

/* Animation */
@keyframes form-appear {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
